= simple_form_for(@invite) do |f|
  .columns
    .column.column-f-x2
      = f.input :email, :label => 'Кому:'
      = f.input :body, :label => invite_letter_subject
      %p
        %strong Мои параграфы: 
        = user_posts_url(current_user)  
        %br
        %strong Начни писать свои: 
        = sign_up_url     
        %br
        %br   

      = submit_button 'Отправить приглашение'