= simple_form_for(@invite) do |f|
  .columns
    .column.column-f-x2
      = f.input :email, :label => 'Кому:', :hint => 'Адрес электронной почты.'
      = f.input :body, :label => "Тема: <span>" + invite_letter_subject(current_user) + "</span>", :input_html => { :value => t('invites.body') }
      %p
        %strong 
          = t('invites.my_posts_label') 
        = user_posts_url(current_user)
        %br
        %strong
          = t('invites.make_yours_label')
        = sign_up_url 
        %br
        %br

      = submit_button 'Отправить приглашение'