- title "Настройки аккаунта"

%h1.form Настройки
%span.head-note.block-inline Lorem ipsum dolor sit amet, consectetur adipisicing elit.
.b-settings-menu
  %ul
    %li
      %a{:href => profile_settings_user_url} Профиль
    %li.selected
      Аккаунт
      %ins
.b-line.b-line-thin

= simple_form_for @user, :url => account_settings_user_path do |f|
  .columns
    .column.halfsized.column-f-x2
      %label.text.optional{:for => "username"} Имя пользователя
      %span.username 
        = @user.username
      = f.input :email, :label => 'Электронная почта', :required => false
      .input.password.optional
        %label.password.optional{:for => "user_password"} Новый пароль
        %input#user_password.password.optional{:name => "user[password]", :type => "text"}     
        %span.password-trigger.show-pass
          %span.show-pass
            = image_tag "eye-open.gif", :height => 10, :width => 16
          %span.hide-pass
            = image_tag "eye-close.gif", :height => 10, :width => 16
      - if can? :assign_roles, @user   
        .input.optional    
          %label.boolean.optional{:for => "user[roles][]"} Roles
          = hidden_field_tag "user[roles][]", ""
          - for role in User::ROLES
            %div
              = check_box_tag "user[roles][]", role, @user.roles.include?(role)
              = h role.humanize                      
      = submit_button "Сохранить"
      
    .column.column-f-x1