- title "Статистика пользователей"

= form_header "Статистика пользователей", "Monkey math."

%p{:style => "line-height: 1.5"}
  = "Всего #{@users_count} #{Russian.p(@users_count, 'пользователь', 'пользователя', 'пользователей')}, из них #{@male_users_percent}% мальчиков и #{@female_users_percent}% девочек."
%p{:style => "line-height: 1.5"}
  = "Первый #{link_to('параграф', @first_post)} был написан #{I18n.l @first_post.created_at.to_date}. Сегодня на сайте уже #{@all_posts_count} #{Russian.p(@all_posts_count, 'параграф', 'параграфа', 'параграфов')}.".html_safe