%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
%title 
  Talks
  = yield (:title) || "Погладьте кошку"
= stylesheet_link_tag :all
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js",
                         "http://vkontakte.ru/js/api/openapi.js?10",                  
                         "jquery/jquery.rails",
                         "jquery/jquery.color", 
                         "jquery/jquery.dependClass", 
                         "jquery/jquery.easing", 
                         "jquery/jquery.charCount",
                         "bubble", 
                         "classAnimate", 
                         "jcommon", 
                         "common", 
                         "round_picture",
                         "rounded-corners-min",
                         "application.jquery"
                                                
= csrf_meta_tag
%meta{:name => 'yandex-verification', :content => '448837f81d93d532'}

- if params[:action] == "show"
  - unless @post.nil?
    %link{:rel => "image_src", :href => "#{request.protocol}#{request.host}#{@post.picture.url(:normal)}"}