.side-bar
  .name
    .item.photo
      %span.round_picture{:style => "width: 50px; height: 50px;"}
        = link_to(image_tag(@user.picture.url(:normal), :width => 50, :height => 50), user_posts_path(@user))
    .item.info
      %strong        
        - unless @user.firstname.nil? or @user.firstname.empty?
          = @user.fullname
        - else
          = @user.username
          
      - unless @user.birthday.nil? or @user.about.empty?
        - if @user.show_age 
          %small.age
            = age @user.birthday
      %br/
      %small
        = @user.city
        
  - unless @user.about.nil? or @user.about.empty?
    %hr/
    .about
      %strong О себе
      %p
        = @user.about

  - unless @user.username.empty?
    %hr/ 
    .accounts
      %ul.list
        
        - unless @user.homepage.nil? or @user.homepage.empty?
          %li.item
            .profile.homepage
              %i.icon
              .service Сайт
              %a.id{:href => @user.homepage_link}
                = @user.homepage
                
        - unless @user.facebook.nil? or @user.facebook.empty?
          %li.item
            .profile.facebook
              %i.icon
              .service Facebook
              %a.id{:href => @user.facebook_link}
                = @user.facebook
                
        - unless @user.flickr.nil? or @user.flickr.empty?
          %li.item
            .profile.flickr
              %i.icon
              .service Flickr
              %a.id{:href => @user.flickr_link}
                = @user.flickr
                
        - unless @user.formspring.nil? or @user.formspring.empty?
          %li.item
            .profile.formspring
              %i.icon
              .service Formspring
              %a.id{:href => @user.formspring_link}
                = @user.formspring
                
        - unless @user.icq.nil? or @user.icq.empty?
          %li.item
            .profile.icq
              %i.icon
              .service ICQ
              %a.id{:href => @user.icq_link}
                = @user.icq
                
        - unless @user.lastfm.nil? or @user.lastfm.empty?
          %li.item
            .profile.lastfm
              %i.icon
              .service Last.fm
              %a.id{:href => @user.lastfm_link}
                = @user.lastfm
                
        - unless @user.livejournal.nil? or @user.livejournal.empty?
          %li.item
            .profile.livejournal
              %i.icon
              .service LiveJouranl
              %a.id{:href => @user.livejournal_link}
                = @user.livejournal
                
        - unless @user.skype.nil? or @user.skype.empty?
          %li.item
            .profile.skype
              %i.icon
              .service Skype
              %a.id{:href => @user.skype_link}
                = @user.skype
        
        - unless @user.tumblr.nil? or @user.tumblr.empty?
          %li.item
            .profile.tumblr
              %i.icon
              .service Tumblr
              %a.id{:href => @user.tumblr_link}
                = @user.tumblr
              
        - unless @user.twitter.nil? or @user.twitter.empty?
          %li.item
            .profile.twitter
              %i.icon
              .service Twitter
              %a.id{:href => @user.twitter_link}
                = @user.twitter
                
        - unless @user.vkontakte.nil? or @user.vkontakte.empty?
          %li.item
            .profile.vkontakte
              %i.icon
              .service ВКонтакте
              %a.id{:href => @user.vkontakte_link}
                = @user.vkontakte
                
        - unless @user.youtube.nil? or @user.youtube.empty?
          %li.item
            .profile.youtube
              %i.icon
              .service YouTube
              %a.id{:href => @user.youtube_link}
                = @user.youtube
  - if @user.posts.count > 0 && params[:action] != "playlist"
    %hr/
    .music-box-wrap
      = link_to "Плейлист автора", playlist_user_url(@user), :class => "music-box"