.side-bar
  .name
    .item.photo
      %span.round_picture{:style => "width: 50px; height: 50px;"}
        = image_tag @post.user.picture.url(:normal), :width => 50, :height => 50
    .item.info
      %strong
        = @post.user.fullname ? @post.user.fullname : @post.user.username
      %small.age
        = age @post.user.birthday
      %br/
      %small
        = @post.user.city 
        
  - unless @post.user.about.empty?
    %hr/
    .about
      %strong О себе
      %p
        = @post.user.about
    %hr/
    
  - unless @post.user.contacts.empty?
    .accounts
      %strong Аккаунты
      %ul.list
        
        - unless @post.user.facebook.empty?
          %li.item
            .profile.facebook
              %i.icon
              .service Facebook
              %a.id{:href => @post.user.facebook_link}
                = @post.user.facebook
              
        - unless @post.user.twitter.empty?
          %li.item
            .profile.twitter
              %i.icon
              .service Twitter
              %a.id{:href => @post.user.twitter_link}
                = @post.user.twitter