- title "Talks"

.columns
  .column.column2-x2
    .features
      - @features.each do |feature|
        .mediumFeature
          .header
            %h2= link_to feature.title, feature
            %span.data
              = succeed "," do
                = link_to feature.user.username, feature.user, :class => 'author'
              = I18n.l feature.created_at.to_date
          .image
            = link_to image_tag(feature.picture.url(:featured), :class => "rc4"), feature
      
    .posts
      .header
        %h3 Последние параграфы
      - @latest_posts.each do |post|
        .postPreview
          .image
            = link_to image_tag(post.picture.url(:preview), :class => "rc4"), post
          .text
            .header
              %h2
                = link_to post.title, post
              %span.data
                = succeed "," do
                  = link_to post.user.username, post.user, :class => 'author'
                = I18n.l post.created_at.to_date
            .description
              = truncate(post.conversation, :length => 80, :separator => ' ').markdown.typography.html_safe
    
              
    .posts
      .header
        %h3 Популярные параграфы
      - @popular_posts.each do |post|
        .postPreview
          .image
            = link_to image_tag(post.picture.url(:preview), :class => "rc4"), post
          .text
            .header
              %h2
                = link_to post.title, post
              %span.data
                = succeed "," do
                  = link_to post.user.username, post.user, :class => 'author'
                = I18n.l post.created_at.to_date
            .description
              = truncate(post.conversation, :length => 80, :separator => ' ').markdown.typography.html_safe
            
  .column.column2-x1.column-last
    %br
    = render '/shared/facebook'
    = render '/shared/vkontakte'