- title "Talks"

.columns
  .column.column2-x2
    .features
      - @features.each do |feature|
        .mediumFeature
          .header
            %h2= link_to feature.title, feature
            %span.data
              = succeed "," do
                = link_to feature.user.username, feature.user, :class => 'author'
              = I18n.l feature.created_at.to_date
          .image
            = link_to image_tag(feature.picture.url(:featured), :class => "rc4"), feature
      
    .posts
      .header
        %h3 Последние параграфы
      - @latest_posts.each do |post|
        .postPreview
          .image
            = link_to image_tag(post.picture.url(:preview), :class => "rc4"), post
          .text
            .header            
              %h2
                = link_to post.title, post
              %span.data
                = succeed "," do
                  = link_to post.user.username, post.user, :class => 'author'
                = I18n.l post.created_at.to_date
            .description
              = truncate(post.conversation, :length => 80, :separator => ' ').markdown.typography.html_safe
    
              
    - if @week_is_ready
      .posts
        .header
          %h3.last_week-header
            = link_to @last_week.name, @last_week
        - @last_week_posts.each do |post|
          .postPreview
            .image
              = link_to image_tag(post.picture.url(:preview), :class => "rc4"), post
            .text
              .header
                %h2
                  = link_to post.title, post
                %span.data
                  = succeed "," do
                    = link_to post.user.username, post.user, :class => 'author'
                  = I18n.l post.created_at.to_date
              .description
                = truncate(post.conversation, :length => 80, :separator => ' ').markdown.typography.html_safe
            
  .column.column2-x1.column-last
    %br
    
    .weeks-list-wrap
      .weeks-list-header
        %h3 Недели Talks
      - @weeks.each do |week|
        .week
          .week-picture
            = link_to image_tag(week.picture.url(:small), :class => "rc3"), week_path(week)
          .week-info
            = link_to week.name, week_path(week)
            %span= truncate(week.description, :length => 55, :separator => ' ').markdown.typography.html_safe
        .clear
        
    = render '/shared/facebook'    
    = render '/shared/vkontakte'
    
    