= simple_form_for [@user, @post], :html => { :multipart => true } do |f|
  .columns
    .column.column-f-x2
      = f.input :title, :label => 'Заголовок'
      = char_counter_for 'post_title', 100  
      = f.input :conversation, :label => 'Диалог'
      .b-formatting-hints#formattingHints       
        .g-left
          %div
            %h4
              %p Заголовок
              %p ----------------
          %div
            %strong **Жирный**
          %div
            %em *Курсив*
          %div
            [Ссылка](
            = link_to 'http://t-a-l-k-s.com', 'http://t-a-l-k-s.com'
            )
        
        .g-center
          %div
            %blockauote
              %p > цитата
              %p > в несколько
              %p > строк
          %div
            * список
            %br
            * каких-нибудь
            %br
            * строк
            
        .g-right
          %div
            Тире получится, если набрать два дефиса подряд.
          %div
            А для 
            = link_to 'перевода строки', 'http://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4_%D1%81%D1%82%D1%80%D0%BE%D0%BA%D0%B8' 
            нужно два раза нажать на пробел в конце строки.
      
      = submit_button "Сохранить"
      
    .column.column-f-x1
      - if can? :assign_featured, @post      
        = f.input :featured, :label => 'Фичер', :hint => 'Будет на главной странице до тех пор, пока его место не займет другой.'
        %hr/
        
      - if (can? :obtain_additional_details, @post) and (@show_additional_details)
        .input.optional
          %span.hint
            Параграф написал
            = link_to @post.user.username, @post.user
            = I18n.l @post.created_at.to_time
        %hr/
        = f.input :is_published, :label => 'Публиковать', :hint => 'Показывать параграф другим пользователям.'
        %hr/
        
      = f.input :picture, :as => :file, :label => 'Картинка', :required => true
      - if @show_picture_preview
        .b-picture-preview
          = image_tag @post.picture.url(:preview)
          
      = f.input :picture_author_name, :label => 'Автор изображения'
      = f.input :picture_author_link, :as => :url, :label => 'Ссылка на автора изображения'
      %hr/
      
      = f.input :song_code, :label => 'Песня', :hint => t('post.song_code_hint_html')