<% if can? :create, @post %>
  <%= link_to "Новый параграф", new_user_post_path(current_user) %>
<% end %>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.conversation %>
</p>

<p>
  <b>Note:</b>
  <%= @post.note %>
</p>

<% if can? :update, @post %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>