- title @post.title

.columns
  .column.column-x2
    = render '/shared/sidebar'
    
  .column.column-x4
     
    .p-post
      .l-column.l-column-full
        .p-post-header
          %h1= @post.title 
          %span.p-post-date= I18n.l @post.created_at.to_date
        .p-post-picture
          = image_tag(@post.picture.url(:normal))
          .p-post-picture-author
            - unless @post.picture_author_link.empty?
              = link_to @post.picture_author_name, @post.picture_author_link
            - else
              = @post.picture_author_name
        - unless @post.song_code.empty?
          .p-post-song          
            = @post.song_code.html_safe
        .p-post-quote
          = @post.conversation.markdown.typography.html_safe
        
        .b-share 
          %hr         
          .b-share-others
            
            .twitter
              %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
              %a{:class => "twitter-share-button", :href => "http://twitter.com/share", :data => {:count => "horizontal", :text => @post.title, :via => "talks_news"}} Tweet
            .facebook
              %a{:name => "fb_share", :type => "button_count", :href => "http://www.facebook.com/sharer.php?t=#{@post.title}"} Опубликовать
              %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}            
            .vkontakte              
              %script{:type => "text/javascript", :src => "http://vkontakte.ru/js/api/share.js?9", :charset => "windows-1251"}
              :javascript
                document.write(VK.Share.button(false, {type: "button", text: "Поделиться"}));
                                
          .clear          
          .b-share-facebook_like
            %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
            \<fb:like href="              
            = request.url            
            \" show_faces="true" width="450" font="arial"></fb:like>  
            
      .l-column-right
        .b-func-buttons  
          - if can? :update, @post
            = link_to 'Редактировать', edit_post_path(@post), :class => 'b-func-button-edit'
            %br
          - if can? :destroy, @post
            = link_to 'Удалить', @post, :confirm => 'Вы уверены?', :method => :delete, :class => 'b-func-button-destroy'
      .clear