- title @post.title

.columns
  .column.column-x2
    = render '/shared/sidebar'
    
  .column.column-x4
     
    .p-post
      .l-column.l-column-full
        .p-post-header        
          - if @post.week
            %span.week            
              = link_to @post.week.name, week_path(@post.week)
          - if @post.is_hidden?
            %h1.post-hidden= @post.title
          - else
            %h1= @post.title
          %span.p-post-date= I18n.l @post.created_at.to_date
        .p-post-picture
          = image_tag(@post.picture.url(:normal))
          .p-post-picture-author
            - unless @post.picture_author_link.empty?
              = link_to @post.picture_author_name, @post.picture_author_link
            - else
              = @post.picture_author_name
        - unless @post.song_code.empty?
          .p-post-song          
            = @post.song_code.html_safe
        .p-post-quote
          - @post.conversation.sub("  \n", "")
          = simple_format @post.conversation.typography.html_safe
        
        = render "sharing"
            
      .l-column-right
        .b-func-buttons  
          .control-links
            = previous_post_link(@post)
            %span Ctrl
            = next_post_link(@post)
            
          - if can? :update, @post
            = link_to 'Редактировать', edit_post_path(@post), :class => 'b-func-button-edit'
            %br
          - if can? :destroy, @post
            = link_to 'Удалить', @post, :confirm => 'Вы уверены?', :method => :delete, :class => 'b-func-button-destroy'
          - if can? :trigger_visibility, @post
            .p{:style => "margin-top: 15px;"}
              = trigger_visibility_link

      .clear