%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
%title 
  Talks
  = yield (:title) || "Погладьте кошку"
= stylesheet_link_tag :all
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
= javascript_include_tag "jquery/jquery.rails",
                         "jquery/jquery.color", 
                         "jquery/jquery.dependClass", 
                         "jquery/jquery.easing", 
                         "jquery/jquery.charCount",
                         "bubble", 
                         "classAnimate", 
                         "jcommon", 
                         "common", 
                         "round_picture",
                         "application"
                       
= csrf_meta_tag