!!!
%html{:lang => "en-US"}
  %head
    = render "shared/meta"    
  %body    
    #layout
      #header
        = render "shared/header"
    
      #content
        = render "shared/flashes"
        = yield    
          
      #footer
        = render "shared/footer"