!!!
%html{:lang => "en-US"}
  %head
    = render "shared/meta"    
  %body    
    = render "shared/admin_pane"
    #layout      
      #header
        = render "shared/header"
    
      #content
        = render "shared/flashes"
        = yield    
          
      #footer
        = render "shared/footer"
        
    = render "shared/reformal"